/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/styles/Home.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Home_container__UZ9hw {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Home_main__IuyWW {
    padding: 5rem 0;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Home_title__A_ZDL {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
  }
  
  .Home_productGrid__9tYQX {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .Home_card__JuJkj {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
  }
  
  .Home_card__JuJkj img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .Home_searchBar__c1TH2 {
    width: 100%;
    max-width: 500px;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
